<%- include("../layout/header") %>

<tr>
  <td class="annotations"><%= t('email.common.help.info') %></td>
</tr>
<tr>
  <td class="greetings">
    <%= t('email.common.greetings.yours') %><br />
    <%= t('email.common.greetings.team') %>
  </td>
</tr>

<%- include("../layout/footer") %>
