<%- include("../layout/header") %>

<tr>
  <td><%= t('email.users.requestResetPassword.hello') %>,</td>
</tr>
<tr>
  <td>
    <%= t('email.users.requestResetPassword.paragraph.1') %>
    <b> <%= email %> </b>.
  </td>
</tr>
<tr>
  <td class="buttons">
    <table>
      <tr>
        <td align="center">
          <a href="<%= changePasswordUrl %>" class="button" title="<%= t('email.users.requestResetPassword.button') %>">
            <%= t('email.users.requestResetPassword.button') %>
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td>
    <%= t('email.users.requestResetPassword.paragraph.2') %>
    <a href="<%= resetPasswordUrl %>" title="<%= t('email.users.requestResetPassword.requestLink') %>">
      <%= t('email.users.requestResetPassword.requestLink') %>
    </a>
  </td>
</tr>
<tr>
  <td><%= t('email.users.requestResetPassword.paragraph.3') %></td>
</tr>
<tr>
  <td class="annotations"><%= t('email.common.help.info') %></td>
</tr>
<tr>
  <td class="greetings">
    <%= t('email.common.greetings.yours') %><br />
    <%= t('email.common.greetings.team') %>
  </td>
</tr>

<%- include("../layout/footer") %>
